<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navBarFragment}" />

    <div align="center">
        <h3>Podaj dane nowego przedmiotu</h3>
        <form th:action="@{__${T(com.mike.util.PageMappings).ADD_CATEGORY}__}"
              th:object="${category}" method="post" >

            <input type="hidden" th:field="${category.id}"/>

            <label for="model">Kategoria</label>
            <input id="model" type="text" th:field="${category.categoryValue}"/>
            <br>

            <input type="submit" value="Submit"/>
        </form>
    </div>
<div th:replace="~{fragments/footer :: footerFragment}" />
</body>
</html>