<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navBarFragment}" />

    <div align="center">
        <a th:href="@{__${T(com.mike.util.PageMappings).ADD_CATEGORY}__}">Dodaj nową kategorię sprzętu</a>
    </div>


    <table border="1" align="center">
        <tr>
            <th>Id</th>
            <th>Kategoria</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>

        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.categoryValue}"></td>
            <td>
                <form method="POST" th:action="@{${T(com.mike.util.PageMappings).EDIT_CATEGORY}(itemId=${category.id})}">
                    <button type="submit" name="submit">Edytuj</button>
                </form>
            </td>
            <td>
                <form method="POST" th:action="@{${T(com.mike.util.PageMappings).DELETE_CATEGORY}(itemId=${category.id})}">
                    <button type="submit" name="submit">Usuń</button>
                </form>
            </td>
        </tr>
    </table>

<div th:replace="~{fragments/footer :: footerFragment}" />
</body>
</html>