<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navBarFragment}" />

    <br>
    <div align="center">
        <a th:href="@{__${T(com.mike.util.PageMappings).ADD_ITEM}__}">Dodaj nowy przedmiot</a>
    </div>
    <br>

    <table class="table" border="1" align="center">
        <tr>
            <th>Id</th>
            <th>Kategoria</th>
            <th>Model</th>
            <th>Komentarz</th>
            <th>Numer seryjny</th>
            <th>Status</th>
            <th>Parametry</th>
            <th>Parametr</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>

        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.category?.categoryValue}"></td>
            <td th:text="${item.model}"></td>
            <td th:text="${item.comment}"></td>
            <td th:text="${item.serialNr}"></td>
            <td th:text="${item.status?.statusVal}"></td>
            <td>
                <p th:each="parameter : ${item.parameters}"
                   th:text="${parameter.value} + ' : ' + ${parameter.description}"></p>
            </td>
            <td style="width:12%">
                <form style="float: left" method="POST" th:action="@{${T(com.mike.util.PageMappings).ADD_ITEM_PARAM}(itemId=${item.id})}">
                    <button class="btn btn-success" type="submit" name="submit">Dodaj</button>
                </form>
                <form style="float: left" method="POST" th:action="@{${T(com.mike.util.PageMappings).DELETE_ITEM_PARAM}(itemId=${item.id})}">
                    <button class="btn btn-danger" type="submit" name="submit">Usuń</button>
                </form>
            </td>
            <td>
                <form method="POST" th:action="@{${T(com.mike.util.PageMappings).EDIT_ITEM}(itemId=${item.id})}">
                    <button class="btn btn-primary" type="submit" name="submit">Edytuj</button>
                </form>
            </td>
            <td>
                <form method="POST" th:action="@{${T(com.mike.util.PageMappings).DELETE_ITEM}(itemId=${item.id})}">
                    <button class="btn btn-danger" type="submit" name="submit">Usuń</button>
                </form>
            </td>
        </tr>
    </table>

<div th:replace="~{fragments/footer :: footerFragment}" />
</body>
</html>